.cuadradomodificar {
	border-style: solid;
	border-width: 1px;
	word-wrap: break-word;
}

#historial{
	margin: auto;
	width:450px;
	height:250px;
	overflow:auto;
	padding:10px;
	border:1px double #DEBB07;
}

.chatTitle{
	margin: auto;
}

#datossala{
	/*margin-left: 30%*/
}

#mensajebox{
	width: 100%!important;
}