@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200, 300);
*, body {
  font-weight: 300;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
body ::-webkit-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-weight: 300;
}
body :-moz-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-weight: 300;
}

.tituloLogin{
  color: #fff;
}

.renglon{
  width: 20%;
  margin: 0 auto;
}
.contenedorLogin, .contenedorFormularios{
  margin-top: 50px;
}
.box-success{
  color: white;
  background-color: #8AEFB4;
  border: 1px solid #27ae60;
}
.box-success::placeholder{
  color: white;
}
.box-alert{
  color: white;
  background-color: #ED8F87;
  border: 1px solid #c0392b;
}
.box-alert::placeholder{
  color: white;
}
/*---------------------------------------------------------*/
/*                        PAGINA INICIO                    */
/*---------------------------------------------------------*/
.formulario-login, .formulario-register{
  padding: 20px;
}
.btn-reset{
  margin-bottom: 20px;
  text-align: center;
}
.formulario-login input, .formulario-register input{
  margin-bottom: 20px;
  text-align: center;
}

.formulario-login input::placeholder, .formulario-register input::placeholder{
  color: black;
}
#register-button1{
  cursor: pointer;
}
.containerCargando, .card-register{
  display: none;
}
.containerCargando{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}





@media screen and (max-width: 991px){
  .tituloEnfermedades{
    font-size: 2em;
  }
  
  .renglon{
    width: 50%;
    margin: 0 auto;
  } 
}


